@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Kalam&family=Montserrat:wght@300&family=Pompiere&family=Source+Sans+Pro:ital,wght@0,200;1,200&family=Yanone+Kaffeesatz:wght@200;300&display=swap');

// PALETA DE COLORES
$choco: #d2691e;
$naranja: #FFD17C;
$marronClaro: #C29361;
$negro: #181716b6;
$blanco:  #fdfdfc;

//FUENTES DE TEXTO
$titulos: 'Yanone Kaffeesatz', sans-serif;
$parrafos: 'Montserrat', sans-serif;

//BARRA DE NAVEGACIÓN
.navbar{
    background-color: $choco;
    font-family: $titulos;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;

    .navbar-brand{
        color: $naranja;
        font-size: 30px;
    }

}

main{
    height: 700px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1)), url(media/arcoirisInclinados.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bienvenida{
    background-color: rgba(255, 255, 255, 0.445);
    padding: 20px;
    margin: 20px;
    text-align: right;

    h1 {
        font-family: $titulos;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        color: $choco;
        text-align: left;
    }

    p{
        font-family: $parrafos;
        font-weight: bold;
        font-size: 18px;
        text-align: left;
    }

    .btn{
        background-color: $choco;
        font-family: $parrafos;
        font-weight: bold;
        font-size: 18px;
    }
}

h2{
    background-color: #C29361;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:rgb(253, 253, 252);
    padding: 20px;
    font-size: 30px;
}
footer{
    background-color: #FFD17C;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    color: rgba(24, 23, 22, 0.712);
    padding: 20px;
}

.redes a{
    font-size: 30px;
    color: rgba(24, 23, 22, 0.712);
    letter-spacing: 10px;
}

.redes a:hover{
    color: rgb(253, 253, 252);
    text-shadow: 0 0 5px gray;
}

.productos{
    background-color: #C29361;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
    grid-gap: 40px;
    padding: 25px;
}

.item{
    width: 100%;
    border: 2px solid rgb(253, 253, 252);
}

.item1{
    background-image: url(media/ocre.jpg);
    background-size: cover;
    background-position: center;
}

.item2{
    background-image: url(media/verde.jpg);
    background-size: cover;
    background-position: center;
}

.item3{
    background-image: url(media/durazno.jpg);
    background-size: cover;
    background-position: center;
}

.item4{
    background-image: url(media/marron.jpg);
    background-size: cover;
    background-position: center;
}

.item5{
    background-image: url(media/crudo.jpg);
    background-size: cover;
    background-position: center;
}

.item6{
    background-image: url(media/12mmMano.jpg);
    background-size: cover;
    background-position: top;
}

.sobreMi{
    width: 100%;
    height: auto;
}

.nleft{
    background-image: url(media/sobreMi.PNG);
    height:400px;
    width: 100%;
    background-position: top;
    background-size: cover;
}

.nright{
    padding: 20px;
    background-color: rgb(253, 253, 252);
}

.nright h3{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;
}

.nright p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

@media only screen and (min-width:480px){
    .nleft{
        height: 450px;;
    }
    
    .productos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
        grid-gap: 20px;
        padding: 20px;
    }
}

@media only screen and (min-width:768px){
    .nleft{
        width: 50%;
    }

    .nright{
        width: 50%;
        padding: 50px;
    }
    
    .productos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 300px);
    }
}

@media only screen and (min-width:768px){

    .nleft{
        width: 40%;
    }

    .nright{
        width: 60%;
        padding: 80px;
    }

    .productos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 300px);
    }
}

@media only screen and (min-width:1020px){

    footer{
        font-size: 30px;
    }
    
    .redes a{
        font-size: 30px;
        letter-spacing: 30px;
    }

    .sobreMi{
        display: flex;
    }

    .nleft{
        width: 40%;
    }

    .nright{
        width: 40%;
        padding: 20px;
        font-size: 100px;
    }

    .nright p{
        font-size: 20px;
    }

    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 300px);
        height: auto;
    }
}